/**************
Estils generals
***************/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,600;1,600&display=swap');

:root {
    --main-color: rgb(0, 59, 74);
    --secondari-color: rgb(158, 157, 171);
    --light-color: rgb(255, 255, 255);
    --dark-contrast-color: rgb(191, 12, 240);
    --light-contrast-color: rgb(229, 225, 254);
    --bg-body-color: rgb(247, 247, 247);
    --sans-serif:'Lato', sans-serif;
    --serif: 'Noto Serif', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    font-family: var(--sans-serif);
    font-size: 16px;
    color: var(--main-color);
    background-color: var(--bg-body-color);
}

main {
    padding-top: 70px;
}

.container {
    width: 90vw;
    margin: 0 auto;
    padding: 0.5rem 0;
}

@media (min-width: 768px) {
    .container {
        max-width: 95vw;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 60vw;
    }
}

.logo {
    width: 80%;
    height: auto;
}

/*********************************
Estils capçalera i barra navegació
**********************************/

header {
    max-width: 100vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    font-weight: 600;
    position: fixed;
    z-index: 1;
    background-color: var(--light-color);
}

@media (min-width: 992px) {
    header {
        padding: 1rem 4rem;
    }
}

nav {
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    padding: 0 0.5rem;
    font-size: calc(1rem + 0.2vw);
}

nav a {
    text-decoration: none;
    color: var(--main-color);
}

nav a:hover {
    color: var(--dark-contrast-color);
}

.actual-link {
    color: var(--dark-contrast-color);
}

/*******************
Estils peu de pàgina
********************/

footer {
    background-color: var(--main-color);
    max-width: 100vw;
    color: var(--light-color);
    padding: 2rem 3rem 4rem;
}

@media (min-width: 992px) {
    footer {
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 2rem 3rem 3rem;
    }
}

footer > div, 
.legal-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-networks {
    display: flex;
    flex-direction: row;
}

@media (min-width: 992px) {
    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .legal-links {
        display: flex;
        flex-direction: row;
        align-items: end;
        margin-top: 1rem;
    }

    footer > div {
        align-items: start;
    }
}

footer div ul li,
footer div p {
    margin-top: 0.5rem;
}

.icon {
    width: 100%;
    height: auto;
}

@media (min-width: 992px) {
    .border-left {
        padding-left: 0.9rem;
        border-left: 1px solid white;
    }
}

.legal-links a {
    text-decoration: none;
    color: var(--light-color);
}

.legal-links a:hover {
    color: var(--light-contrast-color);
}

/************
Estils textos
*************/
.home h1 {
    font-size: calc(2.5rem + 0.5vw);
    font-weight: 900;
    width: 90vw;
    margin: 0 auto;
    font-family: var(--sans-serif);
}

@media (min-width: 992px) {
    .home h1 {
        max-width: 30vw;
        margin: 0;
    }
}

h1,
.home h2 {
    font-size: calc(1.8rem + 0.7vw);
    font-weight: 600;
    font-family: var(--serif);
    margin: 3rem 0;
}

h2,
.home h3 {
    font-size: calc(1.4rem + 0.25vw);
    font-weight: 600;
    font-family: var(--serif);
    margin-top: 0.5rem;
}

h3 {
    font-size: calc(1.3rem + 1vw);
    font-weight: 700;
    font-family: var(--sans-serif);
}

h4 {
    font-size: calc(1rem + 0.25vw);
    font-weight: 600;
    font-family: var(--serif);
    margin-bottom: 0.5rem
}

p,
.entrada ul li,
.entrada ol li {
    font-size: calc(0.9rem + 0.3vw);
    padding: 0.5rem 0;
    line-height: 1.5;
}

blockquote,
.blockquote-container cite {
    font-size: calc(0.9rem + 0.25vw);
    padding-bottom: 0.75rem;
}

@media (min-width: 992px) {
    blockquote {
        font-size: 1.8rem;
        line-height: 1.5;
    }
}

.font-size-l {
    font-size: calc(1.1rem + 0.75vw);
    padding-bottom: 2.5rem;
}

.font-size-m {
    font-size: calc(0.9rem + 0.25vw);
    font-weight: 300;
}

.font-size-s {
    font-size: calc(0.7rem + 0.25vw);
    font-weight: 300;
}

/*****************
ESTILS PÀGINA HOME
*****************/
.img-intro-container {
    max-width: 100vw;
    height: 430px;
    background: url(../img/hero-image-home.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.home .topics-container {
    background-color: var(--light-contrast-color);
    padding-bottom: 5rem;
}

.home .topics-container p {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

a {
    text-decoration-style: dotted;
    color: var(--dark-contrast-color);
}

a:hover {
    color: var(--main-color);
}

ul li {
    list-style: none;
}

/*************
Estils figures
**************/
.topics-container figure {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.topics-container figure img {
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .topics-container .container {
        display: flex;
        align-items: center;
    }

    .topics-container .container:nth-child(even) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .topics-container .container:nth-child(odd) figure {
        transform: rotate(-5deg);
    }

    .topics-container .container:nth-child(even) figure {
        transform: rotate(5deg);
    }

    .topics-container .container:nth-child(odd) div {
        padding-left: 2rem;
    }

    .topics-container .container:nth-child(even) div {
        padding-right: 2rem;
    }
}

figcaption {
    font-size: calc(0.5rem + 0.4vw);
}

/***************
Estils formulari
****************/
form .display-column li {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    form {
        max-width: 70vw;
    }
}

@media (min-width: 992px) {
    .intro-container {
        display: flex;
        justify-content: space-around;
    }

    form {
        max-width: 50%;
        margin-left: 3rem;
    }
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-center label {
    margin-left: 0.3rem;
}

label {
    font-weight: 400;
    font-size: calc(0.9rem + 0.3vw); 
}

input {
    margin: 0.5rem 0;
    padding: 0.4rem;
    border: solid 1px var(--light-contrast-color);
    font-size: calc(0.9rem + 0.3vw); 
}

button,
a.button {
    background-color: var(--main-color);
    color: var(--light-color);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0.8rem;
    margin: 1rem 0;
    font-size: calc(0.9rem + 0.25vw); 
    cursor: pointer;
    text-decoration: none;
}

button:hover,
a.button:hover {
    background-color: var(--dark-contrast-color);
}

@media (min-width: 992px) {
    button {
        margin-top: 1.6rem;
        margin-bottom: 5rem;
    }
}

/*********************************************
ESTILS TARGETES - Pàgina Blog i Pàgina Entrada
**********************************************/

.card {
    border: 1px solid var(--light-contrast-color);
    margin-bottom: 2rem;
    background-color: var(--light-color);
}

.card figure {
    display: flex;
    flex-direction: column;
    position: relative;
}

.card figure img {
    width: 100%;
    height: auto;
}

.card .label {
    position: absolute;
    margin: 0.75rem;
    padding: 0.5rem;
    background-color: var(--main-color);
    color: var(--light-color);
    width: fit-content;
    align-self: flex-start;
    text-decoration: none;
    font-size: calc(0.6rem + 0.25vw);
}

.card .label:hover {
    background-color: var(--dark-contrast-color);
}

.card .author {
    position: absolute;
    top: 84%;
    padding: 0.15rem 0.25rem;
    margin: 0.6rem;
    background-color: rgba(247, 247, 247, 0.55);
    width: fit-content;
    align-self: flex-end;
    font-size: calc(0.6rem + 0.25vw);
}

@media (min-width: 768px) {
    .card .author {
        top: 80%;
    }
}

@media (min-width: 992px) {
    .card.card-1 .author {
        top: 92%;
    }

    .card .author {
        top: 84%;
    }
}

.card .text-container {
    padding: 1rem;
}

.card .text-container cite {
    color: var(--secondari-color);
    font-style: normal;
    font-size: calc(0.6rem + 0.4vw);
}

.titular,
.principal-card a {
    text-decoration: none;
    color: var(--main-color);
}

.titular:hover,
.principal-card a:hover {
    color: var(--dark-contrast-color);
}

.principal-card .text-container {
    background-color: var(--light-contrast-color);
}

/*****************
Estils Pàgina BLOG
******************/

/*Estils component de paginació*/
nav.paginacio {
    display: flex;
    justify-content: center;
    margin: 1rem 0 8rem;
}

nav.paginacio li a {
    padding: .7rem;
    border: 1px solid var(--main-color);
    background-color: var(--light-color);
    color: var(--main-color);
    text-decoration: none;
}

nav.paginacio li.actual a,
nav.paginacio li a:hover {
    color: var(--light-color);
    background-color: var(--dark-contrast-color);
    border: 1px solid var(--dark-contrast-color);
}

/*Estructura pàgina Blog segons els diferents dispositius*/
@media (min-width: 768px) {
    .blog .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.15fr 1fr 1fr 1fr 1fr;
        grid-gap: 1rem 2.5rem;
    }

    .blog .container h1 {
        grid-column: 1 / 3;
    }
}

@media (min-width: 992px) {
    .blog .container {
        max-width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.15fr 1fr 0.75fr;
        grid-gap: 1rem 2rem;
    }

    .blog .container h1 {
        grid-column: 1 / 4;
    }

    .card-1 {
        grid-column: 1 / 3;
    }
}

/********************
Estils Pàgina ENTRADA
*********************/
nav.breadcrumb {
    padding: 4.5rem 0 1rem;
    width: 90vw;
    margin: 0 auto;
}

@media (min-width: 992px) {
    nav.breadcrumb {
        width: 60vw;
    }
}

nav.breadcrumb li {
    font-family: var(--sans-serif);
    font-size: 1.1rem;
    padding-left: 0.1rem;
    padding-right: 0;
}    

.bg-color-white {
    background-color: var(--light-color);
    margin-bottom: 4rem;
}

article {
    width: 90%;
    margin: 0.5rem auto;
    padding: 1rem 0;
}

.entrada h1 {
    margin: 0 0 1rem;
}

abbr {
    text-decoration: none;
}

q {
    quotes: none;
}

.entrada article ul,
.entrada article ol {
    padding-left: 2rem;
}

.entrada article ul li {
    list-style: disc;
}

.blockquote-container {
    border-left: 3px solid var(--dark-contrast-color);
    padding-left: 2rem;
    margin: 1rem 0;
}

@media (min-width: 992px) {
    .blockquote-container {
        margin-left: 2.5rem;
    }
}

.cards-container {
    margin-top: 1rem;
}

.categories-container {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
}

.categoria {
    background-color: var(--light-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 0.20rem;
    margin-right: 0.75rem;
    cursor: pointer;
    text-decoration: none;
    font-size: calc(0.5rem + 0.5vw);
}

.categoria:hover {
    background-color: var(--dark-contrast-color);
    color: var(--light-color);
}


/*Estructura pàgina Entrada segons els diferents dispositius*/
@media (min-width: 768px) and (max-width: 991px) {
    .cards-container {
       display: flex;
    }

    aside .card:nth-child(2) {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (min-width: 992px) {
    .entrada .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 0 2rem;
    }

    article {
        width: 95%;
        padding-top: 0.3rem;
    }

    .categories-container {
        display: flex;
        flex-wrap: wrap;
    }

    .categoria {
        padding: 0.5rem;
    }

    .categories-container li {
        margin-bottom: 0.3rem;
        margin-right: 0.5rem;
    }
}

/****************
VÍDEOS RESPONSIVE
*****************/
iframe.video-fluid {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border: 0;
}

/*Estructura pàgina Vídeos segons els diferents dispositius*/
@media (min-width: 768px) {
    .videos .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.15fr 1fr 1fr 1fr;
        grid-gap: 1.5rem;
    }

    .videos .container h1 {
        grid-column: 1 / 3;
    }
}


@media (min-width: 992px) {
    .videos .container {
        max-width: 95vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.15fr 1fr 1fr;
    }

    .videos .container h1 {
        grid-column: 1 / 4;
    }
}
